<nz-tabset [(nzSelectedIndex)]="indexOfTab" [nzSize]="'large'">

  <nz-tab [nzTitle]="'Nouvelle demande' ">

    <div nz-row>
      <div nz-col nzSpan="8">

      </div>
      <div nz-col nzSpan="8" nzOffset="8" style="padding-left: 26%">
        <nz-badge (click)="goToListDemandeProduit()" [nzCount]="countNew"> </nz-badge>
        <!--<button nz-button nzType="primary" nzShape="circle" style="margin-left: 80%" >A</button>  <span [(ngModel)]="countNew">  </span>-->
        <!--<button nz-button nzType="danger" nzShape="circle" (click)="countAdd()"> <nz-badge [nzCount]="countNew"> </nz-badge> </button>-->
      </div>
    </div>

    <!--<div nz-row>

      <div nz-col nzSpan="12">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selectionner le numero de série" [(ngModel)]="produitChoice" name="produitChoice" (change)="loadDetailProduit()">
          <nz-option *ngFor="let produit of produitList" [nzLabel]="produit.numSerie" [nzValue]="produit"></nz-option>
        </nz-select>
      </div>

    </div>-->

    <form [formGroup]="validateNewDemandeForm" nz-form>

      <div nz-row>

        <div nz-col nzSpan="10" style="padding-right: 1.5em">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Num de série</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selectionner le numero de série" formControlName="produit" name="produitChoice" >
              <nz-option *ngFor="let produit of produitList" [nzLabel]="produit.numSerie" [nzValue]="produit"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="2" style="padding-top: 2.8em">
          <button nz-button nzType="primary" (click)="loadDetailProduit()"><i nz-icon nzType="check"></i>
          </button>
        </div>

        <div nz-col nzSpan="12" style="padding-right: 1.5em">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Modele</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="Merci de renseigner ce champs!">
              <input nz-input placeholder="" disabled value="{{modele}}"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12" style="padding-right: 1.5em">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Gamme</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="Merci de renseigner ce champs!">
              <input nz-input placeholder="" disabled value="{{gamme}}"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12" style="padding-right: 1.5em">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Marque</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="Merci de renseigner ce champs!">
              <input nz-input placeholder="" disabled value="{{marque}}"/>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12" style="padding-right: 1.5em">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Demandeur</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selectionner une personne"  formControlName="personne" >
              <nz-option *ngFor="let pers of personneList" [nzLabel]=" pers.nom + ' ' + pers.prenom + ' --- '+pers.serviceB.libelle " [nzValue]="pers"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12" style="padding-right: 1.5em">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Nature du mouvement</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selectionner un mouvement" formControlName="mouvement">
              <nz-option *ngFor="let mouv of mouvementList" [nzLabel]="mouv.description" [nzValue]="mouv.value"></nz-option>
            </nz-select>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">Description</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="Merci de renseigner ce champs!" >
              <textarea nz-input placeholder="saisir une description" rows="4" formControlName="description"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-space>

            <nz-space-item>
              <!--<button (click)="submitEtatForm()" [disabled]="validateEtatForm.invalid" nz-button
                      nzType="primary"><i nz-icon nzType="check"></i>
                Enregistrer
              </button>-->
              <button nz-button nzType="primary" (click)="validerProduit()" [disabled]="validateNewDemandeForm.invalid"><i nz-icon nzType="check"></i>
                Valider
              </button>
            </nz-space-item>
            <nz-space-item>
              <button (click)="resetDemandeForm($event)" nz-button nzType="default"><i nz-icon nzType="close"></i>
                Annuler
              </button>
              <!--<button nz-button nzType="default"><i nz-icon nzType="check"></i>
                Soumettre
              </button>-->
            </nz-space-item>
          </nz-space>
        </div>

      </div>

    </form>

  </nz-tab>

  <nz-tab [nzTitle]="'Liste des produits pour nouvelle demande'">

    <div nz-row>
      <nz-table #sortTable [nzData]="demandeProduitList" nzTableLayout="fixed">
        <thead>
        <tr>
          <th *ngFor="let column of listOfColumn" [nzSortFn]="column.sortFn">
            {{ column.title }}</th>

          <th> Actions </th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of sortTable.data">
          <td>{{ data.produit.numSerie }}</td>
          <td>{{ data.produit.marque.libelle }}</td>
          <td>{{ data.produit.modele.libelle }}</td>
          <td>{{ data.produit.gamme.libelle }}</td>
          <td>{{ data.personne.nom }}</td>
          <td>{{ data.livrer }}</td>
          <td>
            <nz-space>
              <nz-space-item>
                <!--<button nz-button nzShape="circle" nzType="primary"><i nz-icon nzTheme="outline" nzType="edit"></i>
                </button>-->
              </nz-space-item>
              <nz-space-item>
                <button nz-button nzShape="circle" nzType="primary"><i nz-icon nzTheme="outline" nzType="delete"></i>
                </button>
              </nz-space-item>
            </nz-space>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <div nz-row style="margin-top: 10px;">
      <div nz-col nzSpan="24">
        <nz-space>
          <nz-space-item>
            <button nz-button nzType="default" (click)="addNewProduit()"><i nz-icon nzType="check"></i>
              Rajouter un nouveau produit
            </button>
          </nz-space-item>
          <nz-space-item>
            <button nz-button nzType="primary" (click)="faireValiderProduit()" [disabled]="demandeProduitList.length == 0 || demandeProduitList == null"><i nz-icon nzType="check"></i>
              Faire valider
            </button>
          </nz-space-item>
        </nz-space>
      </div>
    </div>
  </nz-tab>

</nz-tabset>


<!--
<p>nouvelle-demande works!</p>

<h3 nz-typography>Fournisseur</h3>
<form nz-form class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Le nom du fournisseur est requis">
          <input nz-input type="text" name="fournisseur" id="fournisseur" placeholder="Nom du fournisseur " />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Adresse est requise">
          <input nz-input type="text" name="adresse" id="adresse" placeholder="Adresse du fournisseur" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="Le téléphone est requis">
          <input nz-input type="text" name="telephone" id="telephone" placeholder="Téléphone" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
      <nz-form-item>
        <nz-form-control nzErrorTip="L\'email est requis">
          <input nz-input type="email" name="email" id="email" placeholder="Email" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <nz-form-item>
    <nz-form-control>
      <nz-space>
        <nz-space-item>
          <button nz-button [nzType]="'danger'" >Annuler</button>
        </nz-space-item>
        <nz-space-item>
          <button nz-button [nzType]="'primary'">Enregistrer</button>
        </nz-space-item>
      </nz-space>
    </nz-form-control>
  </nz-form-item>
</form>
-->
