<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "line-scale-pulse-out" [fullScreen] = "true"><p style="color: white" > Chargement... </p></ngx-spinner>


<h2>Historique des demandes ({{listOfDisplayData.length}})</h2>

<div nz-row>

  <button nz-button nzBlock nzType="primary" style="margin-bottom: 10px" *ngIf="can_create">
    <a [routerLink]="['/dashboard/demande/sortie']"> Faire une nouvelle demande </a>
  </button>

    <!--div nz-col nzSpan="8">

        <label>
        Date début:
        <input [ngModel]="startDate" type="date" name="bday">
        </label>

        <nz-input-group nzCompact>
        <input type="text" nz-input [ngModel]="'input content'" style="width:50%;" />
        <nz-date-picker></nz-date-picker>
        </nz-input-group>

    </div>
    <--div nz-col nzSpan="8">

        <label>
        Date fin:
        <input [ngModel]="endDate" type="date" name="bday">
        </label>

        <--<nz-input-group nzCompact>
        <input type="text" nz-input [ngModel]="'input content'" style="width:50%;" />
        <nz-date-picker></nz-date-picker>
        </nz-input-group>

    </div -->

    <!--div nz-col nzSpan="8">
        <button (click)="rechercherParDate()" nz-button nzType="default">Rechercher par période</button>
    </div-->

  <nz-table #sortTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzPageSize]="5" style="margin-top: 1.5em">
    <thead>
    <tr>
      <th nzCustomFilter *ngFor="let column of listOfColumn" [nzSortFn]="column.sortFn">
        {{ column.title }}

        <nz-filter-trigger *ngIf="column.title == 'Numero Série'" [(nzVisible)]="visibleNumero" [nzActive]="searchValueNumero.length > 0" [nzDropdownMenu]="menuNumero">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>

        <nz-filter-trigger *ngIf="column.title == 'Equipement'"  [(nzVisible)]="visibleEquipement" [nzActive]="searchValueEquipement.length > 0" [nzDropdownMenu]="menuEquipement">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>

        <nz-filter-trigger *ngIf="column.title == 'Marque'" [(nzVisible)]="visibleMarque" [nzActive]="searchValueMarque.length > 0" [nzDropdownMenu]="menuMarque">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>

        <nz-filter-trigger *ngIf="column.title == 'Modele'" [(nzVisible)]="visibleModele" [nzActive]="searchValueModele.length > 0" [nzDropdownMenu]="menuModele">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>

        <nz-filter-trigger *ngIf="column.title == 'Personne concernée'" [(nzVisible)]="visibleDemandeur" [nzActive]="searchValueDemandeur.length > 0" [nzDropdownMenu]="menuDemandeur">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>

      </th>
      <th> Détails</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.demande.dateHeure | date: 'dd/MM/yyyy à HH:mm' }}</td>
      <td>{{ [null, undefined].includes(data.dateValidationRetour) ? '-' : (data.dateValidationRetour | date: 'dd/MM/yyyy à HH:mm') }}</td>
      <td>{{ data.produit.numSerie }}</td>
      <td>{{ data.gamme?.libelle }}</td>
      <td>{{ data.marque?.libelle }}</td>
      <td>{{ data.modele?.libelle }}</td>
      <td>{{ data.personne?.nom + ' ' + data.personne?.prenom   + ' -- ' + data.personne?.serviceB.libelle}}</td>

      <td>
        <button (click)="openDrawer(data)" nz-button nzShape="circle" nzType="primary"><i nz-icon nzTheme="outline"
                                                                                           nzType="bars"></i>
        </button>

      </td>
    </tr>
    </tbody>
  </nz-table>

  <nz-dropdown-menu #menuNumero="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Rechercher equipement" [(ngModel)]="searchValueNumero" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchNumero()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetNumero()"> Annuler </button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuEquipement="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Rechercher equipement" [(ngModel)]="searchValueEquipement" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchEquipement()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetEquipement()"> Annuler </button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuMarque="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Rechercher equipement" [(ngModel)]="searchValueMarque" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchMarque()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetMarque()"> Annuler </button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuModele="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Rechercher equipement" [(ngModel)]="searchValueModele" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchModele()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetModele()"> Annuler </button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuDemandeur="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Rechercher equipement" [(ngModel)]="searchValueDemandeur" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchDemandeur()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetDemandeur()"> Annuler </button>
      </div>
    </div>
  </nz-dropdown-menu>


</div>


<!--<nz-dropdown-menu #menuNumero="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="chercher par numéro de série" [(ngModel)]="searchValueNumero" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchNumero()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetNumero()">Annuler</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuEquipement="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="chercher par equipement" [(ngModel)]="searchValueEquipement" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchEquipement()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetEquipement()">Annuler</button>
      </div>
    </div>
  </nz-dropdown-menu>-->

 <!-- <nz-dropdown-menu #menuMarque="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="chercher par marque" [(ngModel)]="searchValueMarque" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchMarque()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetMarque()">Annuler</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuModele="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="chercher par modele" [(ngModel)]="searchValueModele" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchModele()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetModele()">Annuler</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuDemandeur="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="chercher par demandeur" [(ngModel)]="searchValueDemandeur" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchDemandeur()" class="search-button">
          Chercher
        </button>
        <button nz-button nzSize="small" (click)="resetDemandeur()">Annuler</button>
      </div>
    </div>
  </nz-dropdown-menu>
-->

<nz-drawer [nzVisible]="visibleDrawer" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="closeDrawer()">
  <ng-container *nzDrawerContent>
    <h2 class="title" style=" margin-bottom: 24px;"> DÉTAILS COMPLÉMENTAIRE </h2>

      <div nz-row>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Demandeur">
                  <nz-descriptions-item nzTitle=" ">{{demandeurCourant}}</nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">
              <nz-descriptions [nzColumn]="2" nzTitle="Date demande">
                  <nz-descriptions-item nzTitle=" ">{{ dateToShow + ' à ' + timeToShow}}.</nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">
              <nz-descriptions [nzColumn]="2" nzTitle="Validateur">
                  <nz-descriptions-item nzTitle=" ">{{validateurCourant}}.</nz-descriptions-item>
              </nz-descriptions>
          </div>
      </div>
      <nz-divider></nz-divider>

      <div nz-row>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Date Validation">
                  <nz-descriptions-item nzTitle=" ">{{ dateValidationDateCourant + ' à ' + dateLivraisonTimeCourant}}.</nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Gestionnaire">
                  <nz-descriptions-item nzTitle=" ">{{gestionnaireCourant}}.</nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Date sorti">
                  <nz-descriptions-item nzTitle=" ">{{ dateLivraisonDateCourant + ' à ' + dateLivraisonTimeCourant}}.</nz-descriptions-item>
              </nz-descriptions>
          </div>
      </div>

      <nz-divider></nz-divider>

      <!-- retour 1 -->
      <div nz-row *ngIf="![null, undefined].includes(demandeProduitSelected)">
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Retour 1">
                  <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateDemandeRetour1 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Etat">
                  <nz-descriptions-item nzTitle="{{ProduitEtat[demandeProduitSelected.etatProduitRetour1]}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Rejet">
                  <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateRejetRetour1 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Validation">
                  <nz-descriptions-item nzTitle=" ">
                      <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateValidationRetour1 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
                  </nz-descriptions-item>
              </nz-descriptions>
          </div>
      </div>

      <nz-divider></nz-divider>

      <!-- retour 2 -->
      <div nz-row>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Retour 2">
                  <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateDemandeRetour2 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Etat">
                  <nz-descriptions-item nzTitle="{{ProduitEtat[demandeProduitSelected.etatProduitRetour2]}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Rejet">
                  <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateRejetRetour2 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Validation">
                  <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateValidationRetour2 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
      </div>
      <nz-divider></nz-divider>

      <!-- retour 3 -->
      <div nz-row *ngIf="![null, undefined].includes(demandeProduitSelected)">
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Retour 3">
                  <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateDemandeRetour3 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Etat">
                  <nz-descriptions-item nzTitle="{{ProduitEtat[demandeProduitSelected.etatProduitRetour3]}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Rejet">
                  <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateRejetRetour3 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="6" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Validation">
                  <nz-descriptions-item nzTitle="{{demandeProduitSelected.dateValidationRetour3 | date: 'dd/MM/yyyy à H:m'}}"></nz-descriptions-item>
              </nz-descriptions>
          </div>
      </div>
      <nz-divider></nz-divider>


      <div nz-row>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Description">
                  <nz-descriptions-item nzTitle=" " [nzSpan]="2">{{descriptionCourante}}.</nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">
              <nz-descriptions nzTitle="Pièce Jointe">
                  <nz-descriptions-item nzTitle=" "> <a href="{{urlCourante}}"  target="_blank" rel="noopener noreferrer">{{urlCourante}}</a></nz-descriptions-item>
              </nz-descriptions>
          </div>
          <div nz-col nzSpan="8" style="padding-right: 1.5em">

          </div>
      </div>




  </ng-container>
</nz-drawer>
