<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "line-scale-pulse-out" [fullScreen] = "true"><p style="color: white" > Chargement... </p></ngx-spinner>

<h2>Statistiques des demandes</h2>

<!--<div nz-row>
  <div nz-col nzSpan="24">
  </div>
</div>-->


<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="6">
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Aujourd'hui">
        <p>{{statsCOunt?.day}} nouvelle demande</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Cette semaine">
        <p>{{statsCOunt?.week}} nouvelle demande</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Ce mois">
        <p>{{statsCOunt?.month}} nouvelle demande</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Cette année">
        <p>{{statsCOunt?.year}} nouvelle demande</p>
      </nz-card>
    </div>
  </div>
</div>



<nz-divider></nz-divider>

<h2 style="margin-top: 10px">Liste des demandes récentes</h2>

<div nz-row>
  <div nz-col nzSpan="24">

    <nz-table #sortTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzPageSize]="5">
      <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.sortFn">
          {{ column.title }}


        </th>

        <th *ngIf="validateur || livreur"> Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of sortTable.data">

        <td>{{ data.demande.dateHeure | date: 'dd/MM/yyyy à HH:mm' }}</td>
        <td>{{ data.produit.numSerie }}</td>
        <td>{{ data.gamme?.libelle }}</td>
        <td>{{ data.marque?.libelle }}</td>
        <td>{{ data.modele?.libelle }}</td>
        <td>
          <strong nz-typography [nzType]="produitService.getTextColorByStatusProduit(data.produit?.status)">
            {{ ProduitStatus[data.produit.status] }}
          </strong>
        </td>
        <td>{{ getEtatProduitById(data.produit.id) }}</td>
        <td>{{ data.personne?.nom + ' ' + data.personne?.prenom }}</td>

        <td *ngIf="validateur || livreur">
          <button *ngIf="data.status === 'EN_ATTENTE'" [disabled]="livreur" (click)="validerDemande(data.id)" nz-button nzType="success" style="margin-right: 2px;">Valider</button>
          <button  *ngIf="data.status === 'VALIDEE'" [disabled]="validateur" (click)="livrerDemande(data.id)" nz-button  nzType="primary" style="margin-right: 2px;">Fait</button>
          <button *ngIf="data.status === 'EN_ATTENTE'" (click)="rejeterDemande(data.id)" nz-button  nzType="danger" style="margin-right: 2px;">Rejeter</button>
        </td>
      </tr>
      </tbody>
    </nz-table>

  </div>
</div>
