<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "line-scale-pulse-out" [fullScreen] = "true"><p style="color: white" > Chargement... </p></ngx-spinner>

<h2>Statistiques des demandes</h2>

<!--<div nz-row>
  <div nz-col nzSpan="24">
  </div>
</div>-->


<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="6">
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Aujourd'hui">
        <p>{{statsCOunt?.day}} nouvelle demande</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Cette semaine">
        <p>{{statsCOunt?.week}} nouvelle demande</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Ce mois">
        <p>{{statsCOunt?.month}} nouvelle demande</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Cette année">
        <p>{{statsCOunt?.year}} nouvelle demande</p>
      </nz-card>
    </div>
  </div>
</div>



<nz-divider></nz-divider>

<h2 style="margin-top: 10px">Liste des demandes récentes ({{listOfDisplayData.length}})</h2>

<div nz-row>
  <div nz-col nzSpan="24">

    <nz-table #sortTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzPageSize]="5">
      <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.sortFn">
          {{ column.title }}


        </th>

        <th *ngIf="validateur || gestionnaire || demandeur"> Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of sortTable.data">

        <td>{{ data.demande.dateHeure | date: 'dd/MM/yyyy à HH:mm' }}</td>
        <td>{{ [null, undefined].includes(data.dateValidationRetour) ? '-' : (data.dateValidationRetour | date: 'dd/MM/yyyy à HH:mm') }}</td>
        <td>{{ data.produit.numSerie }}</td>
        <td>{{ data.gamme?.libelle }}</td>
        <td>{{ data.marque?.libelle }}</td>
        <td>{{ data.modele?.libelle }}</td>
        <td>
          <strong nz-typography [nzType]="demandeProduitService.getTextColorByStatusDemandeProduit(data?.status)">
            {{ DemandeStatusEnum[data.status] }}
          </strong>
          <ng-container *ngIf="data.status === 'RETOUR_EN_ATTENNTE'">
            (Etat de retour : {{ProduitEtat[data.etatProduitRetour]}})
          </ng-container>
        </td>
        <td>{{ ProduitEtat[data.produit.etatActuel] }}</td>
        <td>{{ data.personne?.nom + ' ' + data.personne?.prenom }}</td>

        <td *ngIf="validateur || gestionnaire || demandeur">
          <button *ngIf="data.status === 'EN_ATTENTE'" [disabled]="gestionnaire || demandeur" (click)="validerDemande(data.id)" nz-button nzType="success" style="margin-right: 2px;">Valider</button>
          <button  *ngIf="data.demande.typeDemande === 'SORTIE' && data.status === 'VALIDEE'"  [disabled]="validateur || demandeur" (click)="misADisposition(data.id)" nz-button  nzType="success" style="margin-right: 2px;">Disposer</button>
          <button  *ngIf="data.demande.typeDemande === 'SORTIE' && data.status === 'DISPOSEE'"  [disabled]="validateur || gestionnaire"(click)="confirmationReceptionDemande(data.id)" nz-button  nzType="success" style="margin-right: 2px;">Reçu</button>
          <button  *ngIf="data.demande.typeDemande === 'SORTIE' && data.status === 'RECU'"  [disabled]="validateur || gestionnaire" (click)="livrerDemande(data.id)" nz-button  nzType="primary" style="margin-right: 2px;">Livrer</button>
          <button *ngIf="data.demande.typeDemande === 'SORTIE' && data.status === 'EN_ATTENTE' || 'VALIDEE' || 'DISPOSEE' || 'RECU'"  [disabled]="demandeur" (click)="rejeterDemande(data.id)" nz-button  nzType="danger" style="margin-right: 2px;">Rejeter</button>
          <button *ngIf="data.demande.typeDemande === 'SORTIE' && data.status ===  'RECU'"  [disabled]="demandeur || gestionnaire" (click)="rejeterDemande(data.id)" nz-button  nzType="danger" style="margin-right: 2px;">Rejeter</button>

          <!-- retour -->
          <button *ngIf="data.status === 'RETOUR_EN_ATTENNTE'"  [disabled]="validateur" (click)="validerRetourDemande(data)" nz-button nzType="success" style="margin-right: 2px;">Valider</button>
          <button *ngIf="data.demande.typeDemande === 'SORTIE' && data.status === 'RETOUR_EN_ATTENNTE'"  [disabled]="validateur" (click)="rejeterRetourDemande(data)" nz-button  nzType="danger" style="margin-right: 2px;">Rejeter</button>

        </td>
      </tr>
      </tbody>
    </nz-table>

  </div>
</div>
