<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">

      <li nz-menu-item>
        <a [routerLink]="['/dashboard']">
        <i nz-icon nzType="home"></i>
        <span>Accueil</span>
      </a>
      </li>

      <li nz-menu-item>
        <i nz-icon nzType="shop"></i>
        <span>Magasin</span>
      </li>

      <li nz-menu-item>
        <i nz-icon nzType="file-text"></i>
        <span>Nouvelle demande</span>
      </li>

      <li nz-submenu nzTitle="Matériel" nzIcon="insert-row-below">
        <ul>
          <li nz-menu-item>Marque</li>
          <li nz-menu-item>Modèle</li>
          <li nz-menu-item>Gamme</li>
          <li nz-menu-item>Etat</li>
          <li nz-menu-item>Matériel</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Utilisateur" nzIcon="team">
        <ul>
          <li nz-menu-item>Service</li>
          <li nz-menu-item>Profil</li>
          <li nz-menu-item>Utilisateur</li>
        </ul>
      </li>

      <li nz-menu-item>
        <i nz-icon nzType="info-circle"></i>
        <span>A propos</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
      <!--<nz-breadcrumb>
        <nz-breadcrumb-item>Accueil</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        Bill is a cat.
      </div>-->
    </nz-content>
    <nz-footer>Gestion de Stock Bollore ©2021 Implement By IT interns</nz-footer>
  </nz-layout>
</nz-layout>
